/* Style the body */
body {
  font-family: 'Orbit', sans-serif;
  margin: 0;
}

/* Set default background color for div elements */
div {
  background-color: black;
}

/* Header styling */
Header {
  font-family: 'Orbit', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: darkred;
}

/* Color scheme reference:
   Background: Black
   Text: White
   Accent: Purple
   Highlight: Dark Red */
  
/* Styling for h1 elements */
h1 {
  font-family: 'Orbit', sans-serif;
  font-size: 30px;
  color: purple; /* Purple */
  text-align: center;
  margin-bottom: 20px;
}

/* Styling for .ImageContainer */
.ImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: purple; /* Purple */
}

/* Styling for images within .ImageContainer */
.ImageContainer img {
  max-width: 100%;
  max-height: 200%;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 20px auto 0;
}

/* Styling for #about section */
#about {
  padding: 20px;
  text-align: center;
  margin: 20px;
  max-width: 600px;
  color: purple; /* Purple */
  text-align: center;
}

/* Styling for h2 within #about section */
#about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: darkred; /* Dark Red */
  border-radius: 50px;
}

/* Styling for p within #about section */
#about p {
  font-size: 32px;
  line-height: 2;
  color: purple; /* Purple */
  font-weight: 10px;
  font-size: 20px;
}

/* Styling for #Thick-Section */
#Thick-Section {
  background-color: black; /* Black */
  padding: 10px;
  text-align: center;
  margin: 20px;
  max-width: 3000px;
}

/* Styling for .GitHub */
.GitHub {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #FFFFFF; /* White background */
  color: #000; /* Black text color */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}

/* Styling for #contact-me section */
#contact-me {
  text-align: center;
  margin: 20px;
  font-size: 24px;
  color: purple; /* Galaxy White text color */
}

/* Styling for h2 within #contact-me section */
#contact-me h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styling for #showFormBtn */
#showFormBtn {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hover effect for #showFormBtn */
#showFormBtn:hover {
  background-color: darkred; /* Dark Red */
  color: white; /* White */
}

/* Styling for #contactForm */
#contactForm {
  text-align: left;
  margin-top: 20px;
}

/* Styling for labels within #contactForm */
#contactForm label {
  margin-bottom: 5px;
  font-weight: bold;
  color: darkred; /* Dark Red */
}

/* Styling for input and textarea within #contactForm */
#contactForm input[type="text"],
#contactForm input[type="email"],
#contactForm textarea {
  width: 15%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid purple; /* Purple */
  border-radius: 4px;
  box-sizing: content-box;
}

/* Styling for textarea within #contactForm */
#contactForm textarea {
  height: 120px;
}

/* Styling for button within #contactForm */
#contactForm button[type="submit"] {
  background-color: purple; /* Purple */
  color: white; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for button within #contactForm */
#contactForm button[type="submit"]:hover {
  background-color: darkred; /* Dark Red */
  color: white; /* White */
}

/* Styling for generic buttons */
button {
  background-color: purple; /* Purple */
  color: white; /* White */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Hover effect for generic buttons */
button:hover {
  background-color: darkred; /* Dark Red */
  color: white; /* White */
}

/* Styling for footer */
footer {
  text-align: center;
}

/* Styling for h2 within footer */
footer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}