/* Styles.css */

/* Global Styles */
body {
  font-family: 'Orbit', sans-serif;
  margin: 0;
  background-color: #000000; /* Midnight Black background */
  color: #FFFFFF; /* Galaxy White text color */
}

/* Project Item Styles */
.project-container {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  grid-gap: 20px;
  
}

.Github-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: purple;
}

.project-item {
  margin: 10px;
  padding: 10px;
  background-color: purple; /* Purple */
  border-radius: 8px;
  cursor: pointer;
}

p {
  font-size: large;
}

img {
  max-width: 100%;
  max-height: 200%;
  object-fit: contain;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 20px auto 0;
}

.project-title {
  font-size: 18px;
  color: white; /* White */
}

.project-details {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 14px;
  color: #FFFFFF; /* White */
}

.project-details a {
  color: white; /* Space Green for links */
}

/* Project Container Styles */
#projects {
  padding: 20px;
  text-align: center;
  margin: 20px;
  max-width: 2000px;
  color: #ffffff; /* White */
  margin: 100px;
}

h2 {
  font-size: 24px;
  margin: 20px;
  color: purple; /* purple */
  border-radius: 50px;
  text-align: center;
}

