#projects {
  padding: 20px;
  text-align: center;
  margin: 20px; /* Center the section horizontally */
  max-width: 2000px; /* Limit the width of the section */
  color: #233D4D; /* Midnight Blue */
  margin: 100px;
}

#projects h1 {
  font-size: 24px; /* Set the font size for the heading */
  margin-bottom: 10px; /* Add spacing below the heading */
  color: #2A5F75; /* Deep Sea Blue */
  border-radius: 50px;
  text-align: left;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-container p {
  margin-bottom: 20px;
  margin-right: 5px;
}

.project-rectangle-A {
  display: inline-block;
  width: 256px;
  height: 128px;
  background-color: #2A5F75; /* Deep Sea Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 4px; /* Adjust the border-radius value to make it more or less rounded */
  font-size: 20px;
  text-align: center;
}

.project-square-A {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #233D4D; /* Midnight Blue */
  color: #FFFFFF; /* White */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 4px; /* Adjust the border-radius value to make it more or less rounded */
  font-size: 20px;
}

.project-square-B {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #1E2833; /* Dark Slate Gray */
  color: #FFFFFF; /* White */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 4px; /* Adjust the border-radius value to make it more or less rounded */
  font-size: 20px;
}

.project-square-C {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #75B4B4; /* Light Teal */
  color: #233D4D; /* Midnight Blue */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 4px; /* Adjust the border-radius value to make it more or less rounded */
  font-size: 20px;
}

.project-square-D {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #4EAF6A; /* Mint Green */
  color: #233D4D; /* Midnight Blue */
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 4px; /* Adjust the border-radius value to make it more or less rounded */
  font-size: 20px; 
}
