#skills {
  padding: 20px;
  text-align: center;
  margin: 20px;
  max-width: 2000px;
  color: #ffffff; /* White */
  margin: 100px;
}

#skills h1 {
  font-size: 24px;
  margin: 20px;
  color: #e7f59e; /* Space Green */
  border-radius: 50px;
  text-align: center;
}

#skills p {
  font-size: 24px;
  margin: 20px;
  color: #e7f59e; /* Space Green */
  border-radius: 50px;
  text-align: left;
  font-family: 'Orbit', sans-serif;
  text-align: center;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.skills-section {
  grid-column: 1 / 6;
  grid-row: 1 / 2;
}

.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* White */
  text-align: center;
  padding: 20px;
}

.html {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.css {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.js {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.react {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.node {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.sql {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.mongo {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.express {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.git {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.github {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.heroku {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.bootstrap {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.jquery {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.npm {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.api {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.ajax {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.json {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.handlebars {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.sequelize {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.mongoose {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.jest {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.mysql {
  background-color: #2965f1; /* Tranquil Blue */
  grid-row: 6 / 0;
}

.mern {
  background-color: #e44d26; /* Fiery Red */
  grid-row: 6 / 0;
}

.mvc {
  background-color: #2965f1; /* Tranquil Blue */
}
.es6 {
  background-color: #e44d26;
  grid-row: 6 / 0;
}
